<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人员列表（computed）</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="root">
    <h2>人员列表</h2>
    <input placeholder="请输入名字" type="text" v-model="keyWord">
    <ul>
        <li :key="p.key" v-for="p in filPersons">
            {{p.name}}---{{p.age}}---{{p.sex}}
        </li>
    </ul>
    <hr>

</div>
<script>
    Vue.config.productionTip = false;
    new Vue({
        el: "#root",
        data: {
            keyWord: "",
            persons: [
                {id: '001', name: '牛马磊', age: '18', sex: 'boy'},
                {id: '002', name: '伟子哥', age: '18', sex: 'boy'},
                {id: '003', name: '牛小馁', age: '18', sex: 'boy'},
                {id: '003', name: '小磊子', age: '18', sex: 'boy'}
            ],
        },
        computed:{
            filPersons(){
                //filter它用于把Array的某些元素过滤掉，然后返回剩下的元素
                return this.persons.filter((p)=>{
                    //indexOf() 方法可返回某个指定的字符串值在字符串中首次出现的位置
                    //如果字符串中没有 则是负值
                    return p.name.indexOf(this.keyWord) !==-1
                })
            }
        }

    })
</script>
</body>
</html>