*{
    margin: 0;
    padding:0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
}
clearfix:before,.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    /*IE6、7专有*/
    *zoom: 1;
}
body{
    background-color: #f3f5f7;
}
/*网页搜索栏*/
.w{
    width: 1200px;
    margin: auto;
}
.top{
    height: 42px;
    margin: 30px auto;
}
.logo{
    float: left;
}
.nav{
    float: left;
    margin-left: 60px;
}
.nav li{
    float: left;
}
.nav li a{
    display: block;
    height: 42px;
    line-height: 42px;
    padding:0 20px;
    font-size: 18px;
    color: black;
}
.nav li a:hover{
    border-bottom: 2px #00a4ff solid;
    color: #00a4ff;
}
.search {
    line-height: 40px;
    float: left;
    width: 412px;
    height: 42px;
    background-color: #00a4ff;
    margin-left: 70px;
}
.search input{
    width: 340px;
    height: 40px;
    border: #00a4ff solid 1px;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left:20px;
    float: left;
    /*去除聚焦文本框*/
    outline: none;
}

.search button{
    width: 50px;
    height: 42px;
    border-style: none;
    float: left;
    background: url("images/2.png");
}

.user{
    float: left;
    margin-left: 30px;
}
.user .image{
    margin:auto 0;
    /*图片居中：该元素所在行的基线的垂直对齐*/
    vertical-align: middle;
}
.user a{
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #666666;
}

/*banner*/
.banner{
    height: 414px;
    background-color:#1c036c ;
}
.banner .w {
    height: 414px;
    background: url("images/5.png") no-repeat top center;
}
.banner .w .subnav ul{
    float: left;
    width: 193px;
    background: rgba(0,0,0, .3);
}
.banner .subnav ul li{
    height: 46px;
    line-height: 46px;
    padding:0 20px;
}
.banner  .subnav ul li a {
    font-size: 14px;
    color: #ffffff;
}
.banner .subnav ul li a:hover{
    color: #00a4ff;
}
.banner .subnav ul li a span{
    float: right;
}
.banner .course{
    float: right;
    width: 230px;
    height: 302px;
    background-color:#fff ;
    margin-top: 50px;
}
.banner .w h2{
    height: 49px;
    color: #fff;
    font-size: 18px;
    background-color:#9bceea ;
    line-height: 49px;
    text-align: center;
}
.banner .tbody{
    padding: 0 20px;
}

.banner .tbody ul li{
    padding: 10px;
    border-bottom:#eaeaea 1px solid;
}
.banner .tbody ul li a{
    font-size: 16px;
    color: #4e4e4e;
}
.banner .tbody ul li span {
    font-size: 12px;
    color: #a5a5a5;
}
.banner .tbody ul li a:hover{
    color: #00a4ff;
}
.banner .tbody .all{
    display: block;
    height: 40px;
    color: #00a4ff;
    border:solid 1px #22b0ff;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
}
/*精品推荐*/
.goods {
    height: 60px;
    background-color: #fff;
    margin-top: 8px;
    box-shadow: 1px 1px rgba(0,0,0, .2);
}
.goods h3{
    display: block;
    float: left;
    color: #00a4ff;
    font-weight: bold;
    font-size: 16px;
    line-height: 60px;
    padding: 0 30px 0 24px;
}
.goods ul li a{
    display: block;
    float: left;
    line-height: 60px;
    color: black;
    padding: 0 25px;

}
.goods ul li a:hover{
    color: #00a4ff;
    border-bottom: solid 2px #00a4ff;
}
.goods ul li span{
    /*间隔竖线*/
    /*也可以用边框 border 写*/
    line-height: 60px;
    float: left;
    font-size: 16px;
    color:#bfbfbf;
    padding: 0 11px;
}
.goods a{
    float: right;
    line-height: 60px;
    padding: 0 27px;
    font-size: 14px;
    color: #00a4ff;
}
/*box模块*/
.box .box-td{
    height: 42px;
    margin-top:34px ;
}
.box .box-td h3{
    float: left;
    font-size:20px ;
    font-weight: normal;
    color: #494949;
}
.box .box-td span{
    float: right;
    font-size:14px ;
    font-weight: normal;
    color: #a5a5a5;
}
.box .box-bd ul{
    width: 1225px;
}
.box .box-bd ul li > img{
    width: 100%;
}
.box .box-bd ul li em img{
    position: absolute;
    top: 5px;
    right: -4px;
}
.box .box-bd ul li{
    position: relative;
    float: left;
    width: 230px;
    height: 270px;
    background-color: #fff;
    margin: 0px 14px 15px 0;
}
.box .box-bd ul li h4{
    display: block;
    font-size: 14px;
    color: #050505;
    font-weight: normal;
    margin: 20px 20px 20px 25px;
}
.box-bd .info{
    display: block;
    font-size: 12px;
    color: #bfbfbf;
    margin-left: 25px ;
}
.box .box-bd span{
    color: #ff7c2d;
}
/*footer*/
.last{
    width: 100%;
    background-color: white;
}
.footer{
    height:350px;
    margin-top: 40px;
}
.footer .fu{
    float: left;
}
.footer .fu img{
    margin: 34px 0px 25px 20px;
}
.footer .fu p{
    font-size: 12px;
    color: #666666;
    margin-left: 20px;
}
.footer .fu a{
    display: block;
    font-size: 16px;
    color: #00a4ff;
    border: 1px solid #00a4ff;
    width: 120px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin: 16px 0px 0px 20px;
}
.footer .font{
    float: right;
}
.font dl{
    display:block;
    float: left;
    margin-left: 100px;
    margin-top: 34px;
}
.footer .font dl dt{
    font-size: 16px;
    color:#333333;
    margin-bottom: 5px;
}
.footer .font dl dd a{
    font-size: 12px;
    color:#333333;
}