.dh{
    width: 1920px;
    height: 100px;
    background: white;
}
.logo{
    float :left;
    padding-left: 200px;
    padding-top: 30px;
}
.dao{
    list-style: none
}
.dao{
    float: left;
    height: 70px;
    margin-left: 35px;
}
.jl{
    margin-left: 80px;
}
.nav{
    font-size: 17px;
    text-decoration: none;
    line-height: 100px;
    padding: 0 10px;
}
.nav:hover{
    border-bottom: 2px solid cornflowerblue;
}
.jl{
    margin-left: 80px;
}
.sous{
    width: 300px;
    height: 40px;
    float: left;
    border: 2px solid cornflowerblue;
    border-right: none;
    color: #b1b5ac;
    margin-left: 50px;
    margin-top: 26px;
    outline: none;
}
.an{
    width: 50px;
    height: 46px;
    float: left;
    background: cornflowerblue;
    border: none;
    margin-top: 26px;
    cursor:pointer;
}
.two{
    float: left;
    padding-left: 10px;
}
.wo{
float: left;
    line-height: 100px;
}
.three{
    float: left;
    margin-left: 80px;
    margin-top: 35px;
}
.banner{
    width: 1920px;
    height: 421px;
    background: url("图片/images/4.png");
}
.da{
    width: 190px;
    height: 420px;
    background:rgba(0,0,0,0.4);
    margin-left: 200px;
    display: inline-block;
    float: left;
    margin-top: -16px;
    margin-left: 0px;
}
.hang{

    display: block;
    width: 158px;
    height: 40px;
    line-height: 40px;
    color: white;
    text-decoration: none;
    text-align: left;
    padding-top: 6px;
    padding-left: 2em;
    padding-right: 1px;
}
.hang:hover{
    color: cornflowerblue;

}
.hang span{
    float: right;
    margin-right: 10px;
}
.five{
    width: 1200px;
    height: 420px;
    display: inline-block;
    background: url("图片/images/5.png");
    padding-top: 16px;
    background-repeat: no-repeat;
    float: left;
    margin-left: 200px;
}
.ch{
    width: 230px;
    height: 300px;
    background: white;
    float: right;
    margin-top: -16px;
}
.ke{
    width: 230px;
    height: 50px;
    background: #9bceea;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;
}
.xue{
    list-style: none;
    font-size: 16px;
    margin-left: -10px;
    width: 180px;
    height: 60px;
    border-bottom: 1px solid #eaeaea;
}
.xue p{
    color: #bfc3b9;
    font-size: 5px;
}
.qb{
    width: 180px;
    height: 36px;
    border: 2px #22b0ff solid;
   margin-left: 23px;
   margin-top: -10px;
}
.qb a{
    display: inline;
    color: #22b0ff;
    font-weight: 700;
    text-decoration: none;
    padding-left: 55px;
    line-height: 35px;
}
.jqu{
    width: 1182px;
    height: 60px;
    float: left;
    background: white;
    margin-left: 200px;
}
.jqu{
    text-decoration: none;
    padding-left: 20px;
    font-size: 14px;
    float: left;
}
.jqu ul li{
    list-style: none;
}
.jqu ul li{
    float: left;
    padding-left: 30px;
    font-size: 15px;
    line-height: 35px;
    text-decoration: none;
    font-weight: 500;
}
.jpt{
    color: black;
}
.jli{
    color: #c6c7ce
}
.jqu ul p{
    float: right;
    padding-right: 30px;
    color: #22b0ff;
    line-height: 5px;
}
.jpt:hover{
    color: #22b0ff;
}
.tj1{
    width: 1202px;
    height: 600px;
    float: left;
    margin-left: 200px;
    margin-top: 35px;
}
.tj2{
    width: 1202px;
    height: 62px;
}
.tj2 p{
    float: left;
    color: #5f6063;
    font-size: 16px;
    line-height: 30px;
    padding-left: 1em;
}
.tj2 a{
    float: right;
    line-height: 60px;
    font-size: 14px;
    text-decoration: none;
    padding-right: 3em;
    color: #abadb0;
}
.tj2 a:hover{
    color: #22b0ff;
}
.tj3{
    width: 229px;
    height: 271px;
    background: #911eb0;
    float: left;
    margin-left: 14px;
    margin-top: 10px;
}
.yl1{
    margin-left: 0;
}
.yl2{
    margin-top: 0;
}
.xx1{
background: url("图片/images/6.png");
    background-repeat: no-repeat;
}
.xx2{background: url("图片/images/7.png");
    background-repeat: no-repeat;
}
.xx3{background: url("图片/images/8.png");
    background-repeat: no-repeat;
}
.xx4{background: url("图片/images/9.png");
    background-repeat: no-repeat;
}
.xx5{background: url("图片/images/9.png");
    background-repeat: no-repeat;
}
.xx6{background: url("图片/images/6.png");
    background-repeat: no-repeat;
}
.xx7{background: url("图片/images/7.png");
    background-repeat: no-repeat;
}
.xx8{background: url("图片/images/8.png");
    background-repeat: no-repeat;
}
.xx9{background: url("图片/images/9.png");
    background-repeat: no-repeat;
}
.xx10{background: url("图片/images/9.png");
    background-repeat: no-repeat;
}
.tj4 {
    margin-left: 5px;
    color: black;
    margin-top: 170px;
    font-size: 15px;
    padding-left: 1em;
    padding-right: 1em;
}
.tj7{
    display: block;
    text-decoration: none;
    color: black;
}
.tj8{
    margin-top: 20px;
    font-size: 13px;
    text-align: center;
    color: orange;
}
.tj9{
    color: #b1b5ac;
    padding-left: 1em;
}
.tj7:hover{
    color: #22b0ff;
}






.ce1{
    width: 185px;
    height: 425px;
    background: white;
    float: left;
    margin-top: -300px;
    margin-right: 500px;
}
.ce1 a{
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 17px;
    font-size: 15px;
    padding-left: 2em;
}
.ce1 a:hover{
    color: orange;
}











.py1{
    width: 1202px;
    height: 455px;
    float: left;
    margin-top: -70px;
    margin-left: 203px;
}
.py2{
    width: 1202px;
    height: 63px;
    background: white;
    line-height: 63px;
    color: black;
    font-size: 20px;
}
.bc2{
    padding-left: 400px;
    color: #b1b5ac;
    text-decoration: none;
    font-size: 14px;

}

.bc1{
    padding-left: 340px;
    text-decoration: none;
    font-size: 16px;
    color: #b1b5ac;
}
.bc3{
    text-decoration: none;
    font-size: 16px;
    padding-left: 40px;
    color: #b1b5ac;
}
.bc4{
    text-decoration: none;
    font-size: 16px;
    padding-left: 40px;
    color: #b1b5ac;
}
.bc5{
    text-decoration: none;
    font-size: 16px;
    padding-left: 40px;
    color: #b1b5ac;
}
.rm{
    padding-left: 1em;
}
.bc1:hover{
    color: #22b0ff;
}
.bc2:hover{
    color: #22b0ff;
}
.bc3:hover{
    color: #22b0ff;
}
.bc4:hover{
    color: #22b0ff;
}
.bc5:hover{
    color: #22b0ff;
}

.ph1{
    width: 229px;
    height: 392px;
}
.ph2{
    width: 960px;
    height: 100px;
    float: right;
    margin-top: -392px;
    margin-right: -3px;
}

.ul2 {
    width: 958px;
    height: 280px;
    margin-top: -280px;
    float: right;
}
.ul1{
    width: 230px;
    height: 270px;
    display: inline-block;
    margin-left: 0px;
    background: url("图片/images/12.png");
    background-repeat: no-repeat;
    margin-top: 10px;
}
.ul5{
    width: 230px;
    height: 270px;
    display: inline-block;
    margin-left: 7.94444px;
    background: url("图片/images/13.png");
    background-repeat: no-repeat;
}
.ul3{
    width: 230px;
    height: 270px;
    display: inline-block;
    margin-left: 7.94444px;
    background: url("图片/images/14.png");
    background-repeat: no-repeat;
}
.ul4{
    width: 230px;
    height: 270px;
    display: inline-block;
    margin-left: 7.94444px;
    background: url("图片/images/图层 15.png");
    background-repeat: no-repeat;
}
.sj1 {
    width: 1202px;
    height: 455px;
    float: left;
    margin-left: 203px;
    margin-top: 50px;
}
.sj2{
    width: 1202px;
    height: 63px;
    background: white;
    line-height: 63px;
    color: black;
    font-size: 20px;
}
.jx9{
    width: 1202px;
    height: 270px;
}
.jx1{
    width: 230px;
    height: 270px;
    display: inline-block;
    margin-left: 0px;
    background: url("图片/images/图层 15.png");
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-top: 0px;

}
.jx2{
    width: 230px;
    height: 270px;
    display: inline-block;
    margin-left: 8.5px;
    background: url("图片/images/12.png");
    background-repeat: no-repeat;
}
.jx3{
    width: 230px;
    height: 270px;
    display: inline-block;
    margin-left: 8.5px;
    background: url("图片/images/14.png");
    background-repeat: no-repeat;
}
.jx4{
    width: 230px;
    height: 270px;
    display: inline-block;
    margin-left: 8px;
    background: url("图片/images/13.png");
    background-repeat: no-repeat;
}
.jx5{
    width: 230px;
    height: 270px;
    display: inline-block;
    margin-left: 8px;
    background: url("图片/images/14.png");
    background-repeat: no-repeat;
}
.sj8{
    width: 1202px;
    height: 330px;
    float: left;
    margin-left: 203px;
    margin-top: 50px;
}
.sj11{
    padding-left: 350px;
    color: #b1b5ac;
    text-decoration: none;
    font-size: 14px;
}



.db1{
    width: 100%;
    height: 418px;
    float: left;
    margin-top: 50px;
    background: white;
}
.db2{
    margin-top: 50px;
    margin-left: 200px;
}
.db3{
    margin-left: 200px;
    width: 434px;
    font-size: 14px;
    color: #b1b5ac;
}
.db4{
    width: 118px;
    height: 34px;
    border: #22b0ff solid 2px;
    margin-left: 200px;
    color: #22b0ff;
    font-size: 20px;
}
.db4 a{
    text-decoration: none;
    text-align: center;
    line-height: 34px;
    color: #22b0ff;
    padding-left: 10px;
}
li{
    list-style: none;
}
.xcw1{
    margin-left: 1000px;
    margin-top: -150px;
}
.xcw1 li{
    color: black;
    font-size: 15px;
}
.gy1{
    text-decoration: none;
}
.xcw1 a .gy2{
    font-size: 18px;
}
.xcw2{
    margin-left: 1200px;
    margin-top: -135px;
}
.xcw3{
    margin-left: 1400px;
    margin-top: -135px;
}
.xcw2 li{
    color: black;
    font-size: 15px;}
.xcw3 li{
    color: black;
    font-size: 15px;}
.xcw2 a .gy2{
    font-size: 18px;
}
.xcw3 a .gy2{
    font-size: 18px;
}